html {
    scroll-behavior: smooth;
  }

  body {
    background: #a1dffb;
    font-family: "Baloo Tamma 2", cursive;
  }
  
  .m-heading {
    font-family: "Roboto Slab", serif;
  }
  
  .navigation-link {
    border: 2px solid transparent;
  }
  
  .navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #a1dffb;
    transition: 0.5s ease;
  }
  
  .main-container {
    height: 50vh;
  }
  
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main_row h1 {
    font-size: 5rem;
  }
  
  .main_row img {
    width: auto;
    height: 100vh;
  }
  
  .about {
    background: #f98365;
    border-radius: 0.5rem;
  }
  
  .card {
    border-bottom: 8px solid #a1dffb;
  }
  
  #contact {
    background: #a1dffb;
  }
  
  .media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid #a1dffb;
    border-radius: 0.5rem;
  }